@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.login-wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-wrapper {
  display: grid;
  place-items: center;
  background: #f2f2f2;
  padding: 50px 20px;
}

.login-wrapper ::selection {
  background: #4158d0;
  color: #fff;
}

.login-wrapper .wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.login-wrapper .wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login-wrapper .wrapper form {
  padding: 10px 30px 50px 30px;
}

.login-wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.login-wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.login-wrapper form .field input:focus,
.login-wrapper form .field input:valid {
  border-color: #4158d0;
}

.login-wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.login-wrapper form .field input:focus ~ label,
.login-wrapper form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

.login-wrapper form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

.login-wrapper form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper form .content input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.login-wrapper form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

.login-wrapper form .content .pass-link {
  color: #4158d0;
  text-decoration: none;
}

.login-wrapper form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}

.login-wrapper form .field input[type="submit"]:active {
  transform: scale(0.95);
}

.login-wrapper form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

.login-wrapper form .pass-link a,
.login-wrapper form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}

.login-wrapper form .pass-link a:hover,
.login-wrapper form .signup-link a:hover {
  text-decoration: underline;
}
